<div class="form-group">
  <label for="name">New Member Name:</label>
  <input type="text" name="name" class="form-control" #name>
  <label for="characterName">Character Name:</label>
  <input type="text" characterName="characterName" class="form-control" #characterName>
  <label for="playerClass">Character Class:</label>
  <input type="text" playerClass="playerClass" class="form-control" #playerClass>
  <label for="race">Character Race:</label>
  <input type="text" race="race" class="form-control" #race>
  <label for="backstory">Backstory:</label>
  <input type="text" backstory="backstory" class="form-control" #backstory>
  <button type="button">Save Player</button>
</div>
