<div class="panel panel-warning">
  <div class="panel-heading">
    <button type="button" class="btn btn-primary align-right" *ngIf="isAdmin() === false" (click)="toggleAdminRoute()">Admin View</button>
    <button type="button" class="btn btn-primary align-right" *ngIf="isAdmin()" (click)="toggleAdminRoute()">User View</button>
    <h3>{{(member | async)?.name}} - {{(member | async)?.characterName}}</h3>
  </div>
  <div class="panel-body">
    <p>
      {{(member | async)?.name}} plays a level {{(member | async)?.level}} {{(member | async)?.race}} {{(member | async)?.class}}.
      They currently have {{(member | async)?.experience}} experience points.
    </p>
    <p>
      {{(member | async)?.backstory}}
    </p>
    <div *ngIf="isAdmin()">
      <app-edit-member [memberId]="memberId" [targetMember]="(member | async)" [heldData]="(member | async)"></app-edit-member>
    </div>
  </div>
</div>
