<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about/">About</a></li>
      <li><a routerLink="members/">Current Members</a></li>
      <li *ngIf="isAdmin"><a routerLink="members/admin">User View</a></li>
      <li *ngIf="isAdmin === false"><a routerLink="members">Admin View</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
