<div class="">
  <div class="jumbotron">
    <h2>Current Members:</h2>
  </div>
  <div class="form-group">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h4>Filter by player class</h4>
        <select class="form-control" (input)="targetClass = $event.target.value" [value]="targetClass">
          <option *ngFor="let class of classes">{{class}}</option>
        </select>
        <hr>
        <button type="button" (click)="targetClass = 'Any'" class="btn btn-primary">Remove Filter</button>
      </div>
    </div>
  </div>
  <div *ngFor="let member of members2 | classPipe: targetClass">
    <app-member-tile [member]="member"></app-member-tile>
  </div>


</div>
