<button type="button" class="btn btn-info" (click)="editButtonClick()" *ngIf="isEditing === false">Edit Member</button>
<div *ngIf="isEditing" class="form-group">
  <h4>Edit {{member.name}}</h4>
  <label for="name">Member Name:</label>
  <input type="text" name="name" class="form-control" [value]="targetMember.name" (input)="targetMember.name = $event.target.value">
  <label for="characterName">Character Name:</label>
  <input type="text" name="characterName" class="form-control" [(ngModel)]="targetMember.characterName">
  <label for="playerClass">Character Class:</label>
  <select class="form-control" (input)="targetMember.playerClass = $event.target.value" [value]="targetMember.playerClass">
    <option *ngFor="let class of classes">{{class}}</option>
  </select>
  <label for="backstory">Backstory:</label>
  <input type="text" name="backstory" class="form-control" [(ngModel)]="targetMember.backstory">
  <label for="level">Level:</label>
  <input type="number" name="level" class="form-control" [(ngModel)]="targetMember.level">
  <label for="experience">Experience:</label>
  <input type="number" name="experience" class="form-control" [(ngModel)]="targetMember.experience">
</div>
<div *ngIf="isEditing">
  <button type="button" class="btn btn-warning" (click)="editButtonClick()">Cancel Editing</button>
  <button type="button" class="btn btn-info" (click)="saveButtonClick()">Save Changes</button>
  <button type="button" class="btn btn-danger" (click)="deleteButtonClick()">Delete Member</button>
</div>
